<!doctype html>

<html lang="fr">
<head>
  <meta charset="utf-8">

  <title>MyProject</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="Style4.css">

</head>
<body>
</body>
</html>