<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8" />

    <title>MyProject</title>
    <meta name="description" content="The HTML5 Herald" />
    <meta name="author" content="SitePoint" />
    <link rel="stylesheet" href="..\Project\style\Style.css" />
  </head>
  <body>
    <h1>Welcome!</h1>
    <form>
      <p id="lab">View projects list:</p>
      <br /><br />
      <p id="lab1">View late projects:</p>
      <br /><br />
      <a href="page4"
        ><button type="button" class="bouton" id="btn">Projects list</button></a
      >
      <a href="page3"
        ><button type="button" class="bouton" id="btn1">
          Late projects
        </button></a
      >
    </form>
    <h2 id="add">To add a new project , click here</h2>
    <a href="page2"
      ><button type="button" class="bouton" id="btn2">
        Add new project
      </button></a
    >
  </body>
</html>
